<div>
    <a href="/">Home</a>
    <a href="/celebrities/create">Add New Celebrity</a>

<h2>Celebrities List</h2>

    {{#each this.allCelebrities}}
        <ul>{{this.name}}</ul>
    {{/each}}
</div>
